{% extends 'auth_base.html' %}

{% load bootstrap4 %}

{% block content %}
    <form action="{% url 'users:auth' %}" method="POST" enctype="multipart/form-data">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" style="margin: 10px 0; padding: 5px 20px;">Войти
        </button>
    </form>
{% endblock %}