{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

    <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="{{ student.profile_pic.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ student.username }}</h5>
            <p class="card-text">{{ student.first_name }} {{ student.last_name }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ student.phone_number }}</li>
            <li class="list-group-item">{{ student.city }}</li>
            <li class="list-group-item">{{ student.school }}</li>
          </ul>
    </div>
    </div>


{% endblock %}