{% extends 'base.html' %}

{% block title %}Программисты{% endblock %}

{% block content %}

    {% for student in students %}
    <div class="container">
    <a href="{% url 'web:profile_view' student.slug%}" style="text-decoration: none; color:#000000">
        <div class="card" style="width: 18rem;" href="{% url 'web:profile_view' student.slug%}">
          <img src="{{ student.profile_pic.url}}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">{{ student.username }}</h5>
            <p class="card-text">{{ student.first_name }} {{ student.last_name }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ student.phone_number }}</li>
            <li class="list-group-item">{{ student.city }}</li>
            <li class="list-group-item">{{ student.school }}</li>
          </ul>
    </div>
    </a>
    </div>
    {% endfor %}


{% endblock %}