{% extends 'base.html' %}

{% block title %}Резюме{% endblock %}

{% block content %}

    <!--todo-->
    <script>
    function changeMinLabel()
    {
        document.getElementById("minLabel").innerText=document.getElementById('wageMin').value;
    }

    function changeMaxLabel()
    {
        document.getElementById("maxLabel").innerText=document.getElementById('wageMax').value;
    }
</script>

    {% for vacancy in vacancies %}
    <div class="container">
     <!-- todo href-->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">{{ vacancy.name }}</h5>
            <p class="card-text">{{ vacancy.owner.username }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ vacancy.description|truncatechars:20 }}</li>
              {% for skill in vacancy.skills.all %}
            <li class="list-group-item">{{ skill.name }}</li>
              {% endfor %}
          </ul>
    </div>
    </div>
    {% endfor %}

    <form class="container" style="width: 20%;">
        <label for="customRange3">  Зарплата минимум  </label>
        <p id="minLabel">20000</p>
            <input type="range" onmousemove="changeMinLabel()" class="form-range" min="20000" max="495000" step="5000" value="20000" name="wageMin" id="wageMin" >

        <p id="maxLabel">500000</p>
        <label for="customRange3">  Зарплата максимум </label>
            <input type="range"  onmousemove="changeMaxLabel()" class="form-range" min="25000" max="500000" step="5000" value="500000" name="wageMax" id="wageMax"  >

     <button type="submit" class="btn btn-outline-secondary">Secondary</button>

    </form>


{% endblock %}